@font-face {
  font-family: "iconfont"; /* Project id 3841834 */
  src: url('iconfont.woff2?t=1709224966811') format('woff2'),
       url('iconfont.woff?t=1709224966811') format('woff'),
       url('iconfont.ttf?t=1709224966811') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-seen:before {
  content: "\e658";
}

.icon-shoucang1:before {
  content: "\e646";
}

.icon-yuyue1:before {
  content: "\e64d";
}

.icon-baobiao:before {
  content: "\e665";
}

.icon-shijian:before {
  content: "\e66a";
}

.icon-touzi:before {
  content: "\e66b";
}

.icon-zuzhi:before {
  content: "\e66d";
}

.icon-bone:before {
  content: "\ef44";
}

.icon-wifi:before {
  content: "\e853";
}

.icon-shuidi:before {
  content: "\e613";
}

.icon-reminder:before {
  content: "\e654";
}

.icon-qianshuzhaiyao:before {
  content: "\e9cd";
}

.icon-alert:before {
  content: "\e6d6";
}

.icon-dingwei:before {
  content: "\e6a2";
}

.icon-kaluli-01:before {
  content: "\e65c";
}

.icon-tijian:before {
  content: "\e79c";
}

.icon-yimiaofuwu:before {
  content: "\e79e";
}

.icon-jiankangfuli:before {
  content: "\e79f";
}

.icon-yuyuekanbing:before {
  content: "\e7a6";
}

.icon-xingbie-nan:before {
  content: "\e628";
}

.icon-xingbie-nv:before {
  content: "\e629";
}

.icon-arrow-right:before {
  content: "\e765";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-jieshushijian:before {
  content: "\e61d";
}

.icon-shangjiantou:before {
  content: "\e79d";
}

.icon-tupian:before {
  content: "\e702";
}

.icon-jinghaojian:before {
  content: "\e70e";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-crown:before {
  content: "\e616";
}

.icon-shoucangfill:before {
  content: "\e6c9";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-plus:before {
  content: "\e889";
}

.icon-aite:before {
  content: "\e71c";
}

.icon-dianzan1:before {
  content: "\e720";
}

.icon-pinglun1:before {
  content: "\e723";
}

.icon-rightarrow:before {
  content: "\e65f";
}

.icon-dianzan:before {
  content: "\e611";
}

.icon-xiangce1:before {
  content: "\e61e";
}

.icon-jilu:before {
  content: "\e635";
}

.icon-lishijilu:before {
  content: "\e624";
}

.icon-tianjiahaoyou:before {
  content: "\e7dc";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-zhuanjia:before {
  content: "\e698";
}

.icon-like:before {
  content: "\e64c";
}

.icon-share:before {
  content: "\e6a5";
}

.icon-comment:before {
  content: "\e6ad";
}

.icon-liked:before {
  content: "\e6cd";
}

.icon-yuyuejilu2:before {
  content: "\e659";
}

.icon-liulanjilu:before {
  content: "\e648";
}

.icon-zan:before {
  content: "\e67d";
}

.icon-xiangce:before {
  content: "\e68f";
}

.icon-xiaoxi:before {
  content: "\e7e2";
}

.icon-quanzi:before {
  content: "\e603";
}

.icon-wode:before {
  content: "\e61b";
}

.icon-yuyue:before {
  content: "\e61c";
}

.icon-shouye:before {
  content: "\e61a";
}

.icon-yuyuejilu:before {
  content: "\e661";
}

.icon-yingyong:before {
  content: "\e600";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-zantianchongxiao:before {
  content: "\e8c6";
}

.icon-xinfengbeifen:before {
  content: "\e62e";
}

